<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

<h1>Extracting Stock Data Using a Web Scraping</h1>

Not all stock data is available via API in this assignment; you will use web-scraping to obtain financial data. You will be quizzed on your results.\
Using beautiful soup we will extract historical share data from a web-page.

<h2>Table of Contents</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li>Downloading the Webpage Using Requests Library</li>
        <li>Parsing Webpage HTML Using BeautifulSoup</li>
        <li>Extracting Data and Building DataFrame</li>
    </ul>
<p>
    Estimated Time Needed: <strong>30 min</strong></p>
</div>

<hr>

In [1]:
#!pip install pandas
#!pip install requests
!pip install bs4
#!pip install plotly

Requirement already satisfied: bs4 in d:\anaconda\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in d:\anaconda\lib\site-packages (from bs4) (4.9.3)
Requirement already satisfied: soupsieve>1.2 in d:\anaconda\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)

In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

## Using Webscraping to Extract Stock Data

Use the `requests` library to download the webpage [https://finance.yahoo.com/quote/AMZN/history?period1=1451606400\&period2=1612137600\&interval=1mo\&filter=history\&frequency=1mo\&includeAdjustedClose=true](https://finance.yahoo.com/quote/AMZN/history?utm_medium=Exinfluencer\&utm_source=Exinfluencer\&utm_content=000026UJ\&utm_term=10006555\&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0220ENSkillsNetwork23455606-2021-01-01\&period1=1451606400\&period2=1612137600\&interval=1mo\&filter=history\&frequency=1mo\&includeAdjustedClose=true). Save the text of the response as a variable named `html_data`.

In [5]:
url = 'https://finance.yahoo.com/quote/AMZN/history?period1=1451606400&period2=1612137600&interval=1mo&filter=history&frequency=1mo&includeAdjustedClose=true'

html_data = requests.get(url).text

Parse the html data using `beautiful_soup`.

In [8]:
beautiful_soup = BeautifulSoup(html_data,'html5lib')

<b>Question 1</b> what is the content of the title attribute:

In [44]:
title = beautiful_soup.find_all('title')

print(title[0])

<title>Amazon.com, Inc. (AMZN) Stock Historical Prices &amp; Data - Yahoo Finance</title>

Using beautiful soup extract the table with historical share prices and store it into a dataframe named `amazon_data`. The dataframe should have columns Date, Open, High, Low, Close, Adj Close, and Volume. Fill in each variable with the correct data from the list `col`.

Hint: Print the `col` list to see what data to use

In [67]:
amazon_data = pd.DataFrame(columns=["Date", "Open", "High", "Low", "Close", "Adj Close", "Volume"])

for row in beautiful_soup.find("tbody").find_all("tr"):
    col = row.find_all("td")
    date =col[0].text
    Open =col[1].text
    high =col[2].text
    low =col[3].text
    close =col[4].text
    adj_close =col[5].text
    volume =col[6].text
    
    amazon_data = amazon_data.append({"Date":date, "Open":Open, "High":high, "Low":low, "Close":close, "Adj Close":adj_close, "Volume":volume}, ignore_index=True)

print(amazon_data)

            Date      Open      High       Low     Close Adj Close  \
0   Jan 01, 2021  3,270.00  3,363.89  3,086.00  3,206.20  3,206.20
1   Dec 01, 2020  3,188.50  3,350.65  3,072.82  3,256.93  3,256.93
2   Nov 01, 2020  3,061.74  3,366.80  2,950.12  3,168.04  3,168.04
3   Oct 01, 2020  3,208.00  3,496.24  3,019.00  3,036.15  3,036.15
4   Sep 01, 2020  3,489.58  3,552.25  2,871.00  3,148.73  3,148.73
..           ...       ...       ...       ...       ...       ...
56  May 01, 2016    663.92    724.23    656.00    722.79    722.79
57  Apr 01, 2016    590.49    669.98    585.25    659.59    659.59
58  Mar 01, 2016    556.29    603.24    538.58    593.64    593.64
59  Feb 01, 2016    578.15    581.80    474.00    552.52    552.52
60  Jan 01, 2016    656.29    657.72    547.18    587.00    587.00

         Volume
0    71,528,900
1    77,556,200
2    90,810,500
3   116,226,100
4   115,899,300
..          ...
56   90,614,500
57   78,464,200
58   94,009,500
59  124,144,800
60  130,200,900

[61 rows x 7 columns]

Print out the first five rows of the `amazon_data` dataframe you created.

In [49]:
amazon_data.head()

           Date      Open      High       Low     Close Adj Close       Volume
0  Jan 01, 2021  3,270.00  3,363.89  3,086.00  3,206.20  3,206.20   71,528,900
1  Dec 01, 2020  3,188.50  3,350.65  3,072.82  3,256.93  3,256.93   77,556,200
2  Nov 01, 2020  3,061.74  3,366.80  2,950.12  3,168.04  3,168.04   90,810,500
3  Oct 01, 2020  3,208.00  3,496.24  3,019.00  3,036.15  3,036.15  116,226,100
4  Sep 01, 2020  3,489.58  3,552.25  2,871.00  3,148.73  3,148.73  115,899,300

<b>Question 2</b> What is the name of the columns of the dataframe

In [154]:
for col in amazon_data.columns :
    print (col)

Date
Open
High
Low
Close
Adj Close
Volume

<b>Question 3</b> What is the `Open` of `Jun 01, 2019` of the dataframe?

In [117]:
# If selecting a column value, need to be inside a df e.g df.loc[df[a] == 2, 'b'] , where a = column of search condition, and b = column with value you need
amazon_data.loc[amazon_data['Date'] == 'Jun 01, 2019', ['Open','Close']]

        Open     Close
19  1,760.01  1,893.63

<h2>About the Authors:</h2> 

<a href="https://www.linkedin.com/in/joseph-s-50398b136/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0220ENSkillsNetwork23455606-2021-01-01">Joseph Santarcangelo</a> has a PhD in Electrical Engineering, his research focused on using machine learning, signal processing, and computer vision to determine how videos impact human cognition. Joseph has been working for IBM since he completed his PhD.

Azim Hirjani

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By    | Change Description        |
| ----------------- | ------- | ------------- | ------------------------- |
| 2020-11-10        | 1.1     | Malika Singla | Deleted the Optional part |
| 2020-08-27        | 1.0     | Malika Singla | Added lab to GitLab       |

<hr>

## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>

<p>